body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: black;
  line-height: 1.7;
  overflow-x: hidden;
}
h4
{
  color: #fff;
}


.fdiv {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  height: 400px;
}
.typing {
  white-space: nowrap;
  overflow: hidden;
}
.social-links {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.social {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.social a {
  color: black;
  transition: color 0.3s ease, transform 0.3s ease;
}
.social a:hover {
  color: #139cac;
  transform: scale(1.1);
}

.social-links > a:hover {
  color: #139cac;
}
.typing-dev {
  height: 50px;
}
.cursor {
  color: black;
  font-weight: bold;
  animation: blink 0.7s infinite;
}

.fdiv > div > h1,
h2 {
  margin: 0;
}
.typing-container {
  width: 500px;
  height: 100px;

  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #1a1a1a;
  padding: 30px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-evenly;
}
.form {
  width: 100%;
  height: 600px;
}
.information {
  display: flex;
  color: #fff;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.information > p:first-child {
  margin: 0;
  text-align: center;
  border-right: 2px solid #fff;
  padding-right: 10px;
}

header h1 {
  margin: 0;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
  transition: color 0.3s ease;
}

.photo-container {
  display: flex;
  flex-direction: column;
}
.photo-wrapper {
  width: 200px; /* Ajuste selon tes besoins */
  height: 200px; /* Doit être égal à width pour un cercle parfait */
  border-radius: 100%;
  overflow: hidden; /* Coupe tout ce qui dépasse */
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-profil
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: crisp-edges; /* Améliore la netteté sur certains navigateurs */
  image-rendering: -webkit-optimize-contrast; /* Spécifique à WebKit */
}



header nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

main {
  animation: fadeIn 2s ease;
}

footer {
  background: #1a1a1a;
  color: #b0b0b0;
  text-align: center;
  padding: 40px 0;
  margin-top: 60px;

  animation: fadeIn 2s ease;
}

footer .contact-info,
footer .social-links {
  margin-bottom: 20px;
}

footer a {
  color: #fff;
  margin: 0 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

footer a:hover {
  color: #ffffff;
  transform: scale(1.1);
}

footer p {
  margin: 0;
  font-size: 1.1rem;
}

.skills {
  display: flex;
  margin-top: 30px;
  gap: 100px;
}
.skills > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.aboutme {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img:hover {
  transform: scale(1.5);
}

#skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1a1a1a;
  color: #fff;
  padding: 40px;
  margin: 30px auto;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  height: 400px;
}
#skill > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  width: 400px;
}
#skill > h2::before,
#skill > h2::after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: #fff;
  margin: 0 20px;
}

.project-wrapper
{
  display: flex;
  justify-content: center;
}

h2.project {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  color: black;
  text-align: center;
  width: 400px;
}
.project::before,
.project::after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: black;
  margin: 0 20px;
}

.project-card {
  background: #1a1a1a;
  padding: 30px;
  margin: 20px auto;
  border-radius: 12px;
  width: 80%;
  max-width: 500px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.project-card a {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 10000;
  position: relative;
  transition: color 0.3s ease;
}

.project-card a:hover {
  color: #00ccff;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.project-card {
  background-color: #2d2d2d;
  border-radius: 8px;
  padding: 20px;
}

.project-info h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #f2f2f2;
}

.project-info p {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 15px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  header h1 {
    font-size: 2.5rem;
  }

  header nav ul {
    flex-direction: column;
    gap: 20px;
  }

  header nav ul li a {
    font-size: 1rem;
  }

  main div h1 {
    font-size: 2rem;
  }

  .skills {
    align-items: center;
    gap: 20px;
  }

  .img {
    width: 40px;
    height: 40px;
  }
     .projects-container{
     grid-template-columns: none;
  }
}

@media (max-width: 768px) {
  #skill {
    padding: 20px;
    margin: 20px auto;
    font-size: 1rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
  }

  header h1 {
    font-size: 2rem;
  }

  header nav ul {
    gap: 10px;
  }

  header nav ul li a {
    font-size: 0.9rem;
  }

  main div h1 {
    font-size: 1.5rem;
  }

  footer {
    padding: 20px 0;
  }

  footer a {
    margin: 0 10px;
  }
  .fdiv {
    flex-direction: column;
  }
  .typing-container {
    width: 100%;
  }
 
}

@media (max-width: 420px) {
  header nav ul {
    flex-direction: column;
    gap: 5px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .img {
    width: 30px;
    height: 30px;
  }


}

/* Animation Keyframes */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
