body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #101010;
  color: #e0e0e0;
  line-height: 1.7;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #1a1a1a;
  padding: 30px 0;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

header h1 {
  margin: 0;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #00e4ff;
  transition: color 0.3s ease;
}

header h1:hover {
  color: #ff00a6;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

header nav ul li a {
  color: #e0e0e0;
  font-size: 1.2rem;
  position: relative;
  transition: color 0.3s ease;
}

header nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #00ccff;
  transition: width 0.4s ease, left 0.4s ease;
}
h2,
h1 {
  margin: 0px;
}
.fdiv {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li a:hover::after {
  width: 100%;
  left: 0;
}

header nav ul li a:hover {
  color: #00ccff;
}

main {
  animation: fadeIn 2s ease;
}

.weather,
.spotifly,
.pubG6 {
  background: #232323;
  color: #e0e0e0;
  padding: 40px;
  margin: 30px 0;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeInUp 1.5s ease;
  position: relative;
  overflow: hidden;
}

.weather::before,
.spotifly::before,
.pubG6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(0, 204, 255, 0.05),
    rgba(255, 0, 127, 0.05)
  );
  z-index: 0;
  transition: opacity 0.4s ease;
  opacity: 0;
}

.weather:hover::before,
.spotifly:hover::before,
.pubG6:hover::before {
  opacity: 1;
}

.weather a,
.spotifly a,
.pubG6 a {
  color: #00ccff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  position: relative;
  z-index: 1;
}

.weather:hover,
.spotifly:hover,
.pubG6:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.9);
}

.weather a:hover,
.spotifly a:hover,
.pubG6 a:hover {
  color: #ffffff;
}

footer {
  background: #1a1a1a;
  color: #b0b0b0;
  text-align: center;
  padding: 40px 0;
  margin-top: 60px;
  border-top: 2px solid #00ccff;
  animation: fadeIn 2s ease;
}

footer .contact-info,
footer .social-links {
  margin-bottom: 20px;
}

footer a {
  color: #00ccff;
  margin: 0 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

footer a:hover {
  color: #ffffff;
  transform: scale(1.1);
}

footer p {
  margin: 0;
  font-size: 1.1rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}
#aboutme {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.aboutme {
  display: flex;
  justify-content: center;
}

.img:hover {
  transform: scale(1.5);
}

#skill {
  background: #2a2a2a;
  color: #e0e0e0;
  padding: 40px;
  margin: 30px auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 300px;
}

#project {
  padding: 50px 0;
  text-align: center;
  background-color: #101010;
}

#project h2 {
  font-size: 2.5rem;
  color: #00ccff;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  animation: fadeIn 2s ease;
}

.project-card {
  background: #1a1a1a;
  padding: 30px;
  margin: 20px auto;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 80%;
  max-width: 500px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  animation: fadeInUp 1s ease;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(0, 204, 255, 0.05),
    rgba(255, 0, 127, 0.05)
  );
  z-index: 0;
  transition: opacity 0.4s ease;
  opacity: 0;
}

.project-card:hover::before {
  opacity: 1;
}

.project-card a {
  color: #00ccff;
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 10000;
  position: relative;
  transition: color 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);
}

.project-card a:hover {
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.hamburger-menu {
  font-size: 28px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background-color: #222;
  color: #fff;
  overflow-x: hidden;
  transition: width 0.3s ease;
  padding-top: 60px;
}

.sidebar.open {
  width: 300px;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 30px;
  cursor: pointer;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px 16px;
  text-align: center;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.sidebar ul li a:hover {
  background-color: #575757;
}

.typing-container {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.typing-container p {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Styles Responsives */
@media (max-width: 1200px) {
  header h1 {
    font-size: 2.5rem;
  }

  header nav ul {
    flex-direction: column;
    gap: 20px;
  }

  header nav ul li a {
    font-size: 1rem;
  }

  main div h1 {
    font-size: 2rem;
  }

  .weather,
  .spotifly,
  .pubG6 {
    padding: 30px;
    margin: 20px 0;
  }

  .skills {
    align-items: center;
    gap: 20px;
  }

  .img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  #skill {
    padding: 20px;
    margin: 20px auto;
    font-size: 1rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
  }
  header h1 {
    font-size: 2rem;
  }

  header nav ul {
    gap: 10px;
  }

  header nav ul li a {
    font-size: 0.9rem;
  }

  main div h1 {
    font-size: 1.5rem;
  }

  .weather,
  .spotifly,
  .pubG6 {
    padding: 20px;
    margin: 15px 0;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
  }

  .img {
    width: 100%;
    height: auto;
  }

  footer p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  #skill {
    padding: 15px;
    margin: 10px auto;
    font-size: 0.9rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  }
  header {
    padding: 20px 0;
  }

  header h1 {
    font-size: 1.5rem;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
  }

  header nav ul li a {
    font-size: 0.8rem;
  }

  main div h1 {
    font-size: 1.2rem;
  }

  .weather,
  .spotifly,
  .pubG6 {
    padding: 15px;
    margin: 10px 0;
  }

  .skills {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 15px;
  }

  .img {
    width: 100%;
    height: auto;
  }

  footer p {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .project-card {
    margin: 15px auto;
  }

  #project h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .project-card {
    width: 90%;
    padding: 20px;
  }

  #project h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
}
